body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-md);
    font-weight: 400;
}

a {
    font-size: var(--font-size-md);
    text-align: center;
}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: var(--font-size-3xl);
    font-weight: var(--font-bold);
}

input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-md);
}