.entry-card {
	display: flex;
	flex-direction: column;
	border-radius: var(--radius-md);
	background-color: var(--bg-secondary);
	padding: 1rem;
	border-left: solid var(--accent) 0.5rem;
	overflow-wrap: break-word;
	max-width: 500px;
	width: 100%;
}

.entry-date, .entry-created-at {
	color: var(--text-muted);
}

#new-entry {
	margin: 1rem;
}

